<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935651938156-dpah2vbplk0l913vuo38r1jvhtuutt4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935651938156-dpah2vbplk0l913vuo38r1jvhtuutt4i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>935651938156-05f6v7u8ik2hkef60qu4h571a6jb8cdp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAd-I375rYMsThwLCRU5ZQOJEvjQsCQscU</string>
	<key>GCM_SENDER_ID</key>
	<string>935651938156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tranz</string>
	<key>PROJECT_ID</key>
	<string>tranz-d9b3d</string>
	<key>STORAGE_BUCKET</key>
	<string>tranz-d9b3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935651938156:ios:31765b3305a8492072ed49</string>
</dict>
</plist>